:root {
    --black: rgba(0, 0, 0, 1);
    --biru-tua: rgba(49, 63, 133, 1);
    --orange: rgba(255, 117, 105, 1);
    --biru-muda: rgba(145, 179, 249, 1);
    --biru-keunguan: rgba(85, 93, 242, 1);
    --reg-32-font-family: "Poppins-Regular", Helvetica;
    --reg-32-font-weight: 400;
    --reg-32-font-size: 32px;
    --reg-32-letter-spacing: 0px;
    --reg-32-line-height: normal;
    --reg-32-font-style: normal;
    --med-32-font-family: "Poppins-Medium", Helvetica;
    --med-32-font-weight: 500;
    --med-32-font-size: 32px;
    --med-32-letter-spacing: 0px;
    --med-32-line-height: normal;
    --med-32-font-style: normal;
    --bold-32-font-family: "Poppins-SemiBold", Helvetica;
    --bold-32-font-weight: 600;
    --bold-32-font-size: 32px;
    --bold-32-letter-spacing: 0px;
    --bold-32-line-height: normal;
    --bold-32-font-style: normal;
    --reg-24-font-family: "Poppins-Regular", Helvetica;
    --reg-24-font-weight: 400;
    --reg-24-font-size: 24px;
    --reg-24-letter-spacing: 0px;
    --reg-24-line-height: normal;
    --reg-24-font-style: normal;
    --med-24-font-family: "Poppins-Medium", Helvetica;
    --med-24-font-weight: 500;
    --med-24-font-size: 24px;
    --med-24-letter-spacing: 0px;
    --med-24-line-height: normal;
    --med-24-font-style: normal;
    --bold-24-font-family: "Poppins-SemiBold", Helvetica;
    --bold-24-font-weight: 600;
    --bold-24-font-size: 24px;
    --bold-24-letter-spacing: 0px;
    --bold-24-line-height: normal;
    --bold-24-font-style: normal;
    --reg-20-font-family: "Poppins-Regular", Helvetica;
    --reg-20-font-weight: 400;
    --reg-20-font-size: 20px;
    --reg-20-letter-spacing: 0px;
    --reg-20-line-height: normal;
    --reg-20-font-style: normal;
    --med-20-font-family: "Poppins-Medium", Helvetica;
    --med-20-font-weight: 500;
    --med-20-font-size: 20px;
    --med-20-letter-spacing: 0px;
    --med-20-line-height: normal;
    --med-20-font-style: normal;
    --bold-20-font-family: "Poppins-SemiBold", Helvetica;
    --bold-20-font-weight: 600;
    --bold-20-font-size: 20px;
    --bold-20-letter-spacing: 0px;
    --bold-20-line-height: normal;
    --bold-20-font-style: normal;
    --reg-16-font-family: "Poppins-Regular", Helvetica;
    --reg-16-font-weight: 400;
    --reg-16-font-size: 16px;
    --reg-16-letter-spacing: 0px;
    --reg-16-line-height: normal;
    --reg-16-font-style: normal;
    --med-16-font-family: "Poppins-Medium", Helvetica;
    --med-16-font-weight: 500;
    --med-16-font-size: 16px;
    --med-16-letter-spacing: 0px;
    --med-16-line-height: normal;
    --med-16-font-style: normal;
    --bold-16-font-family: "Poppins-SemiBold", Helvetica;
    --bold-16-font-weight: 600;
    --bold-16-font-size: 16px;
    --bold-16-letter-spacing: 0px;
    --bold-16-line-height: normal;
    --bold-16-font-style: normal;
    --reg-11-font-family: "Poppins-Regular", Helvetica;
    --reg-11-font-weight: 400;
    --reg-11-font-size: 11px;
    --reg-11-letter-spacing: 0px;
    --reg-11-line-height: normal;
    --reg-11-font-style: normal;
    --med-11-font-family: "Poppins-Medium", Helvetica;
    --med-11-font-weight: 500;
    --med-11-font-size: 11px;
    --med-11-letter-spacing: 0px;
    --med-11-line-height: normal;
    --med-11-font-style: normal;
    --bold-11-font-family: "Poppins-SemiBold", Helvetica;
    --bold-11-font-weight: 600;
    --bold-11-font-size: 11px;
    --bold-11-letter-spacing: 0px;
    --bold-11-line-height: normal;
    --bold-11-font-style: normal;
    --reg-8-font-family: "Poppins-Regular", Helvetica;
    --reg-8-font-weight: 400;
    --reg-8-font-size: 8px;
    --reg-8-letter-spacing: 0px;
    --reg-8-line-height: normal;
    --reg-8-font-style: normal;
    --med-8-font-family: "Poppins-Medium", Helvetica;
    --med-8-font-weight: 500;
    --med-8-font-size: 8px;
    --med-8-letter-spacing: 0px;
    --med-8-line-height: normal;
    --med-8-font-style: normal;
    --bold-8-font-family: "Poppins-SemiBold", Helvetica;
    --bold-8-font-weight: 600;
    --bold-8-font-size: 8px;
    --bold-8-letter-spacing: 0px;
    --bold-8-line-height: normal;
    --bold-8-font-style: normal;
  }
  